body{
	border-top:2px solid $primary-color;
	background:#ecf0f1;
	text-align: justify;
}
.close-button, .close-button.medium {
    right: 0.2rem;
    top: 0rem;
}
.middle-content-section{
	text-align: left;
}
.margin-right{
	margin-right: 1em;
}
h5{
	margin-bottom: 1.5em;
}
#address{
	display: none;
}
svg{
	border:0;
	fill:$primary-color;
}
span{
	color:$primary-color;
}
.logo{
	height: 80px;
}
.topbar-responsive,
.topbar-responsive .menu{
	background-color:transparent!important;
}
.topbar-responsive{
	background : transparent;
}
.topbar-responsive .menu a{
	text-transform: uppercase;
	color:$black!important;
	&:hover{
		color:$primary-color!important;
	}
}
.grid-margin-x > .cell{
	margin-top: 0.9375rem;
}
.menu-icon::after{
	background: $black;
	box-shadow: 0 7px 0 $black, 0 14px 0 $black;
}
.middle-content-section h1,
.middle-content-section h5{
	text-shadow:2px 2px 2px rgba(0,0,0,0.5);
}

.home-page {
  background: url('../img/hero/tchegera.jpg');
}
.assistance {
	background: url('../img/hero/close-to-idjwi.jpg');
}
.a-lire {
	background: url('../img/hero/a-lire.jpg');
}
.about{
	background: url('../img/hero/about.jpg');
}
.medias{
	background: url('../img/hero/medias.jpg');
}
.press{
	background: url('../img/hero/press.jpg');
}
.programs{
	background: url('../img/hero/programs.jpg');
}
.contact{
	background: url('../img/hero/contact.jpg');
}
.activites{
	background: url('../img/hero/activites.jpg');
}

.temoignages{
	background: url('../img/testimonials/tchegera.jpg');
}
.p18jours{
	background: url('../img/programmes/p18jours.jpg');
}
.p4jours{
	background: url('../img/programmes/p4jours.jpg');
}
.p8jours{
	background: url('../img/programmes/p8jours-rwenzori.jpg');
}
.p8joursburundi{
	background: url('../img/programmes/8-jours-burundi.jpg');
}
.p2jours{
	background: url('../img/programmes/p2jours.jpg');
}
.activities{
	text-align: justify;
}

.whyKT{
	margin:$global-margin;
	padding:$global-padding;
	text-align: center;
	h2{
		color:$primary-color;
		font-size: 1.25em;
	}
	p{
		text-align: justify;
		color:$black;
	}
	.cell{
		padding:$global-padding;
	}
	.cell:hover{
		background-color:$light-gray;
		// box-shadow:0px 0px 5px 0px rgba(0,0,0,0.5);
		border-radius:5px;
		cursor:pointer ;
	}
}
.header{
	padding-top : 4rem;
	padding-bottom: $global-padding;
	color:$black;	

	.encart{
		border-left:2px solid $secondary-color;
		padding-left: 10px;
	}
	.encart-link{
		padding-left: 10px;
	}
}
h1.card-title{
	font-size:1.2rem;
	text-align: center;
}
h2.card-subtitle{
	font-size: 1rem;
	text-align: center;
}
.card > a{
	color:$black;
}
.card{
	border:0;
	background: #67EA97;
	border-radius: 3px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
	position: relative;
	overflow: unset;
}
.card:hover{
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	cursor:pointer;
}
.card-part:hover{
	box-shadow:none;
}
/* common */
.ribbon {
	width: 150px;
	height: 150px;
	overflow: hidden;
	position: absolute;
  }
  .ribbon::before,
  .ribbon::after {
	position: absolute;
	z-index: -1;
	content: '';
	display: block;
	border: 5px solid $secondary-color;
  }
  .ribbon span {
	position: absolute;
	display: block;
	width: 210px; //225px;
	padding: 15px 0;
	background-color: $secondary-color;
	box-shadow: 0 5px 10px rgba(0,0,0,.1);
	color: #fff;
	font: 700 0.8em $body-font-family;
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
	text-transform: uppercase;
	text-align: center;
  }
/* top right*/
.ribbon-top-right {
	top: -10px;
	right: -10px;
  }
  .ribbon-top-right::before,
  .ribbon-top-right::after {
	border-top-color: transparent;
	border-right-color: transparent;
  }
  .ribbon-top-right::before {
	top: 0;
	left: 0;
  }
  .ribbon-top-right::after {
	bottom: 0;
	right: 0;
  }
  .ribbon-top-right span {
	left: -14px; //-25px;
	top: 35px; //30px;
	transform: rotate(45deg);
  }
	
.book{
	padding-top: 50px;
	padding-bottom: 50px;
	h5{
		color:$primary-color;
		font-size: 1.5em;
		font-weight: light;
	}
	    
   	.btn-centered{
   		align-self: center;
   		text-align: center;
   	} 
}
.video-box{
	padding-bottom:$global-padding;
	.video-head{
		color:$primary-color;
		text-align: center;
		.video-title{
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 1.5px;
			padding-bottom: 0;
			margin-bottom: 0.2em;
			font-size: 1.0em;
		}
		.video-subtitle{
			display: block;
			font-size: 0.9em;
			font-weight: 500;
			text-transform: uppercase;
			letter-spacing: 1.5px;
			font-size: 0.8em;
		}
	}
}
.far, .fab{
	padding-right:5px;
}
.footer{
	border-top: 1px solid $secondary-color;
	padding-top:$global-padding;
	h2{
		text-transform: uppercase;
		color:$dark-gray;
		font-size: 1.1em;
	}
	ul{
		margin-left: 0;
	}
	li{
		list-style-type: none;
		
		a{
			color:$dark-gray;
			&:hover{
				color:$black;
			}
		}
	}
	p.copyright{
		color:$dark-gray;
		text-align: center;
		font-size: 0.7em;
	}
}
.footer-logo{
	align-self: center;
}
p.partner{
	font-size: 0.8em;
}
label{
	text-transform: uppercase;
	display: block;
	font-size: 0.8em;
	font-weight: 700;
	margin: 20px 0px;
}
input{
	border: 0 !important;
	border-bottom: 1px solid #AAAAAA !important;
	padding-bottom: 10px;
	box-shadow: none !important;
}
textarea{
	border: 0;
	border-bottom: 1px solid #AAAAAA;
	padding-bottom: 10px;
	box-shadow: none !important;
}
span.bold{
	font-weight: 500;
}
.jour{
	color:$primary-color;
}
.day{
	font-size: 3em;
}
.centrer{
	align-self:center;
	text-align: center;
}
.nbr-jours{
	float:right;
	background:$primary-color;
	color:white;
	display: block;
	padding: 1.25rem 1.5rem;
	font-size: 0.9rem;
	line-height: 1;
	text-transform: uppercase;
	border-bottom:3px solid $primary-color;
}
.programme-calendar{
	margin-top:2em;
}
.programme-jour{
	border-bottom:1px solid $primary-color;
	margin-top: 2em;
}
.activities{
	margin-top: 2em;
}
.tourisme-responsable{
	background-color:$primary-color;
	margin-top:2em !important;
}
.assist{
	font-size: 1.4em;
	font-weight: 200;
}
.tabs{
	background-color:transparent;
	display:flex;
}
.tabs-content{
	border-color:transparent;
	background-color: transparent;
	text-align: justify;
}
.tabs-content > p{
	color: rgb(40, 47, 51);
}
.tabs-title{
	flex-grow:1;
	text-align: center;
}
.tabs-title:hover{
	background-color: transparent;
}
.tabs-title >a:hover{
	background-color: transparent;
}
.tabs-title > a{
	font-size: 0.9rem;
}
.tabs-title > a:focus, .tabs-title > a[aria-selected="true"]{
	font-weight: 900;
	border-bottom:3px solid $primary-color;
	background-color:transparent;
}

.tabs-flex{
	display:flex;
	justify-content: space-between;
	text-align: center;
}
.tabs-flex > li{
	flex:1;
}
.orbit-bullets button{
	width:0.5rem;
	height:0.5rem
}
.box-height{
	overflow:scroll;
}
ul,ol{
	padding-left: 40px;
}
h4{
	font-size: 1em;
	font-weight: 700;
}
.assist-box{
	padding-left:10px;
}

ul.footer-list{
	padding-left:0;
}

.accordion{
	background-color:transparent;
}
.accordion-content{
	background-color:transparent;
}
.accordion-title{
	font-size:1em;
	padding-right:3em;
	line-height: 1.5em;
}
ul.accordion{
	padding-left:0;
}
.tabs{
	border:0;
	padding-left:0;
}
.tabs-panel{
	padding : 1rem 0;
}
