<div class="grid-container fluid footer">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
		    <div class="cell small-12 medium-6 footer-logo">
		    	<a class="topbar-responsive-logo" href="/"><img src="assets/img/logo_kt.png" class="logo" alt="Kivu Travel Logo"></a>
		    </div>

		    
		    <div class="cell small-12 medium-2">
		    	<h2>Kivu Travel</h2>
		    	<ul class="footer-list">
		    		<li><a href="/activities.html">Activités</a></li>
		    		<li><a href="/programmes.html">Programmes</a></li>
		    		<li><a href="/temoignages.html">Témoignages</a></li>
		    		<li><a href="/press.html">Presse</a></li>
		    		<li><a href="/medias.html">Médias</a></li>
		    	</ul>
		    </div>
		    <div class="cell small-12 medium-2">
		    	<h2>Services</h2>
		    	<ul class="footer-list">
		    		<li><a href="/about.html">A propos</a></li>
		    		<li><a href="/assistance.html">Assistance</a></li>
		    		<li><a href="/a-lire.html">A lire</a></li>
		    		<li><a href="/gdpr.html">GDPR</a></li>
		    		<li><a href="/contact.html">Contact</a></li>
		    	</ul>
		    </div>
		    <div class="cell small-12 medium-2">
		    	<h2>Social</h2>
		    	<ul class="footer-list">
		    		<li><a href="https://www.facebook.com/kivutravel/" target="_blank"><i class="fab fa-facebook"></i>Facebook</a></li>
		    		<li><a href="https://www.instagram.com/kivutravel" target="_blank"><i class="fab fa-instagram"></i>Instagram</a></li>
		    		<li><a href="https://fr.tripadvisor.be/Attraction_Review-g303843-d13555795-Reviews-Kivu_Travel-Goma_North_Kivu_Province.html" target="_blank"><i class="fab fa-tripadvisor"></i>TripAdvisor</a></li>
		    	</ul>
		    </div>
		</div>	
			<p class="copyright">
				Copyright © 2018 - Kivu Travel - Tous droits réservés | <a href="mailto:buhlsebastien@gmail.com">Webmaster</a>
			</p>
	</div>
</div>