<div class="grid-container fluid footer">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
		    <div class="cell small-12 medium-6 footer-logo">
		    	<a class="topbar-responsive-logo" href="#-index.html"><img src="assets/img/logo_kt.png" class="logo" alt="Kivu Travel Logo"></a>
		    </div>

		    <div class="cell small-6 medium-2">
		    	<h2>Info</h2>
		    	<ul>
		    		<li><a href="#">A propos</a></li>
		    		<li><a href="#">Assistance</a></li>
		    		<li><a href="#">Contact</a></li>
		    	</ul>
		    </div>
		    <div class="cell small-6 medium-2">
		    	<h2>Basics</h2>
		    	<ul>
		    		<li><a href="#">Activités</a></li>
		    		<li><a href="#">Programmes</a></li>
		    		<li><a href="#">Presse</a></li>
		    		<li><a href="#">Témoignages</a></li>
		    	</ul>
		    </div>
		    <div class="cell small-12 medium-2">
		    	<h2>Social</h2>
		    	<ul>
		    		<li><a href="#"><i class="fab fa-facebook"></i>Facebook</a></li>
		    		<li><a href="#"><i class="fab fa-instagram"></i>Instagram</a></li>
		    		<li><a href="#"><i class="fab fa-twitter-square"></i>Twitter</a></li>
		    		<li><a href="#"><i class="fab fa-tripadvisor"></i>TripAdvisor</a></li>
		    	</ul>
		    </div>
		</div>	
			<p class="copyright">
				Copyright © 2018 - Kivu Travel - Tous droits réservés | <a href="mailto:buhlsebastien@gmail.com">Webmaster</a>
			</p>
	</div>		
</div>