<div class="grid-container">
	<div class="grid-x align-right">
		<div class="cell small-12 text-right">
			<div id="google_translate_element"></div>		
		</div>
	</div>
</div>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'fr', includedLanguages: 'de,en,es,it,iw,nl,ru,sw', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>