<div class="grid-container activities">
	<div class="grid-x grid-margin-x header">
		<div class="cell small-12 medium-6">
			<h1>Programmes</h1>	
		</div>
		
		<div class="cell small-12 medium-6 ">
			<p class="encart">Nous pouvons vous proposer des programmes personnalisés, de 2 à 18 jours et plus. Nos équipes sont là pour répondre à vos besoins.</p>
			<p class="encart-link">Nous organisons vos voyages personnalisés. <a href="contact.html">Contactez-nous !</a></p>
		</div>
	</div>
  	<div class="grid-x grid-margin-x">
		<div class="cell small-6 medium-3">
			<div class="card">
				<a href="programmes/nord-sud-kivu-18-jours.html">
					<img class="card-img" src="assets/img/programmes/nord-sud-kivu-18-jours.jpg" alt="Nord et Sud Kivu, 18 jours" />
					<div class="card-info">
							<h1 class="card-title">Le complet</h1>
							<h2 class="card-subtitle">18 jours</h2>
					</div>		
				</a>
			</div>
		</div>
    	<div class="cell small-6 medium-3">
    		<div class="card">
    			<a href="programmes/burundi-8-jours.html">
		    		<img class="card-img" src="assets/img/programmes/burundi-home.jpg" alt="Burundi" />
					<div class="card-info">
					 	<h1 class="card-title">Le Burundi</h1>
					  	<h2 class="card-subtitle">8 jours</h2>
					</div>		
    			</a>
			</div>
    	</div>
    	<div class="cell small-6 medium-3">
    		<div class="card">
    			<a href="programmes/idjwi-2-jours.html">
		    		<img class="card-img" src="assets/img/programmes/idjwi-2-jours.jpg" alt="Idjwi 2 jours" />
					<div class="card-info">
					  	<h1 class="card-title">L'Île Idjwi</h1>
					  	<h2 class="card-subtitle">2 jours</h2>
					</div>		
    			</a>
			</div>
    	</div>
    	<div class="cell small-6 medium-3">
    		<div class="card">
    			<a href="programmes/rwenzori-8-jours.html">
		    		<img class="card-img" src="assets/img/programmes/rwenzori-8-jours.jpg" alt="Rwenzori 8 jours" />
					<div class="card-info">
					  	<h1 class="card-title">Le mont Rwenzori</h1>
					  	<h2 class="card-subtitle">8 jours</h2>
					</div>		
    			</a>
			</div>
    	</div>
    	
	</div>
</div>
